ul.user-list {
    list-style-type: none;

    > li {
        display: inline-block;

        > .avatar {
            width: 3em;
            height: 3em;
            display: block;
            margin: 0 auto;
        }
    }
}